In [ ]:
import pandas as pd
df = pd.read_excel('ecommerce_clothing.xlsx')
df.head()

In [ ]:
cols = ['product_name',
 'manufacturer',
 'price',
 'average_review_rating',
 'amazon_category_and_sub_category',
 'product_information',
 'product_description']

df = df[cols]
list(df)

In [ ]:
df['price'] = df['price'].str[2:]
df.head()

In [ ]:
df['price'] = df['price'].str.split(' ').str[0]
df.head()

In [ ]:
df['average_review_rating'] = df['average_review_rating'].str[:3]
df.head()

In [ ]:
df['price'] = pd.to_numeric(df['price'], errors='coerce') # coerce will convert the error to NaN

# drop the rows that have NaN in the price column
df = df.dropna(subset=['price'])
df.head()

In [ ]:
df['average_review_rating'] = pd.to_numeric(df['average_review_rating'])
df.head()

In [ ]:
df.describe()

In [ ]:
df = df.dropna(subset=['amazon_category_and_sub_category'])

# make a new df with all the unique values in the amazon_category_and_sub_category column and show how often each occurs
df_cats = df['amazon_category_and_sub_category'].value_counts()
df_cats.head(20)

In [ ]:
df_cats.describe()

In [ ]:
cats_to_remove = df_cats[df_cats < 5].index.tolist()
print(cats_to_remove)

# now remove all the rows that have a category that occurs less than 5 times
df = df[~df['amazon_category_and_sub_category'].isin(cats_to_remove)]
df['amazon_category_and_sub_category'].value_counts()

In [ ]:
df['amazon_category_and_sub_category'].nunique()

In [ ]:
df['amazon_category_and_sub_category'].str.split('>').str.len().gt(5).sum()

In [ ]:
df['cat1'] = df['amazon_category_and_sub_category'].str.split('>').str[0]
df['cat2'] = df['amazon_category_and_sub_category'].str.split('>').str[1]
df['cat3'] = df['amazon_category_and_sub_category'].str.split('>').str[2]
df['cat4'] = df['amazon_category_and_sub_category'].str.split('>').str[3]
df['cat5'] = df['amazon_category_and_sub_category'].str.split('>').str[4]
df.head()

In [ ]:
cols = list(df)
cols.insert(5, cols.pop(cols.index('cat1')))
cols.insert(6, cols.pop(cols.index('cat2')))
cols.insert(7, cols.pop(cols.index('cat3')))
cols.insert(8, cols.pop(cols.index('cat4')))
cols.insert(9, cols.pop(cols.index('cat5')))
df = df.loc[:, cols]
df.head()

In [ ]:
df['product_name'] = df['product_name'].str.encode('ascii', 'ignore').str.decode('ascii')
df['product_information'] = df['product_information'].str.encode('ascii', 'ignore').str.decode('ascii')
df['product_description'] = df['product_description'].str.encode('ascii', 'ignore').str.decode('ascii')
df.head()

In [ ]:
df['cat1'].value_counts().plot(kind='bar')

In [ ]:
low_cat1 = df['cat1'].value_counts().tail(4).index.tolist()
print(low_cat1)

# remove the rows where the cat1 column is in the low_cat1 list
df = df[~df['cat1'].isin(low_cat1)]

# plot how many rows there are for each category
df['cat1'].value_counts().plot(kind='bar');

In [ ]:
df_mf = df['manufacturer'].value_counts()
print(df_mf.head(20))
df_mf.describe()

In [ ]:
mf_to_remove = df_mf[df_mf < 5].index.tolist()

# now remove all the rows that have a manufacturer that occurs less than 5 times
df = df[~df['manufacturer'].isin(mf_to_remove)]
df['manufacturer'].value_counts()

In [ ]:
df['manufacturer'].nunique()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(20,7))
df['manufacturer'].value_counts().plot.hist(bins=32)

In [ ]:
df.to_excel('amazon_UK-ecommerce_cleaned.xlsx', index=False)